        p.title {
            font-family: 'Gill Sans MT', 'Trebuchet MS', 'Verdana', sans-serif;
            font-size: 80px;
            font-style: italic;
            text-shadow: 3px 2px 2px red, -3px -2px 2px blue, 0px 0px 12px black;
            text-align: center;
            color: white;
            transition: 420ms;
            margin-top: 20px;
            transform: rotateX(23deg);
        }
        p.title:hover {
            letter-spacing: 12px;
            cursor: default;
        }
        div.title {
            box-shadow: 2px 2px 18px black;
            background-color: blueviolet;
            margin: 4em;
            border-radius: 25px;
        }
        body {
            background-color: slategrey;
        }
        div.main {
            margin-top: 120px;
        }
        img#capybara {
            border: 8px solid blueviolet;
            box-shadow: 0px 0px 12px black;
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 500px;
            border-radius: 25px;
            transition: 700ms;
            perspective: 1000px;
        }
        img:hover {
            width: 550px;
            box-shadow: 0px 6px 10px black;
            border: 6px solid blueviolet;
        }
        p#projects {
            font-size: 45px;
            font-family: 'Gill Sans MS', sans-serif;
            font-weight: 900;
            font-style: italic;
            outline: 4px solid black;
            background: rgb(255,255,255);
            background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,254,0,1) 12%, rgba(0,255,36,1) 25%, rgba(0,248,185,1) 32%, rgba(0,182,240,1) 41%, rgba(0,11,243,1) 51%, rgba(138,0,246,1) 61%, rgba(244,66,251,1) 69%, rgba(255,0,0,1) 80%, rgba(255,173,0,1) 89%, rgba(251,255,139,1) 95%, rgba(255,255,255,1) 100%);            
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-size: 500%;
            background-position: 0%;
            transition: 5000ms;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        p#projects:hover {
            background-position: 100%;
            cursor: default;
        }
        div#projects {
             text-align: center;
        }
