@font-face {
  font-family: berserk;
  src: url('./ufonts.com_cc-wild-words-roman.ttf');
}

div#title {
  display: flex;
  justify-content: center;
  flex-wrap: no-wrap;
}

div#title p {
  display: flex;
  font-size: 70px;
  font-family: berserk;
  text-shadow: 0px 0px 7px rgba(0,0,0,0.7);
}
